.chart {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1em;
}

.chart-title {
    font-size: 23px;
    color: var(--gray);
    margin: .3em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1023px) {
    .chart {
        outline: 1px solid red;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1em;
    }

    .chart-container {
        outline: 1px solid red;
        width: 100vw;
    }

    .chart-title {
        font-size: 1.2rem;
    }    
}
