.product {
  flex: 4;
  margin: 1em;
}

.product-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.product-top-left {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1em;
  flex: 2;
}

.product-top-right {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1em;
  flex: 1;
}

.product-bottom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1em;
}

.product-preview {
  margin-bottom: 1em;
}

.product-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1em;
}

.product-preview {
  display: flex;
}

.preview-text p,
.preview-details p {
  color: var(--gray);
}

.preview-text p:first-child {
  font-weight: 600;
}

.preview-text p:last-child {
  font-weight: 300;
}

.preview-details {
  margin-top: 1em;
}

.preview-details span {
  font-weight: 600;
}

.preview-details p {
  margin-bottom: 1em;
}

.product-file {
  display: none;
}

.bottom-right-preview img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 400px;
}

.product-input-container input,
.product-input-container select {
  padding: 1em;
  margin-top: 0.3em;
  outline: none;
  width: 100%;
  color: var(--gray);
}

.product-input-container input {
  border: none;
  border-bottom: 1px solid var(--gray);
}

.product-bottom-right {
  display: flex;
  flex-direction: column;
}

.product-upload-icon {
  margin-left: 1em;
}

.bottom-right-preview {
  margin-bottom: 1em;
}

.product-update-btn {
  margin-top: 1em;
}

.product-update-btn button {
  padding: 0.9em 1em;
  border: 2px solid;
  --tertiary-clr: hsl(190, 72%, 38%);
  background-color: var(--tertiary-clr);
  color: var(--white);
  outline: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

.product-update-btn button:hover {
  background-color: var(--white);
  border: 2px solid var(--tertiary-clr);
  transition: 0.2s ease-in-out;
  color: var(--tertiary-clr);
}

@media screen and (max-width: 1023px) {
  .product-top {
    flex-direction: column;
  }

  .product {
    margin: 0;
  }

  .product .user-nav,
  .product-top,
  .product-bottom {
    margin: 1em;
  }

  .product-top-left {
    margin-bottom: 1em;
  }

  .product-input-container {
    width: 280px;
  }

  .product-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .product-input-container {
    width: 260px;
  }
}