.products {
    flex: 4;
    margin: 1em 0;
    padding-left: 1em;
    padding-right: 1em;
}

.card-container {
    display: grid;
    row-gap: 4em;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    width: 18rem;
    border-radius: 10px;
    --gray: hsl(0, 0%, 63%);
    border: 1px solid var(--gray);
}

.product-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 17.9rem;
    height: 12rem;
    object-fit: cover;
}

.card-body {
    padding: .8em;
}

.card-title, .card-text {
    color: hsl(0, 0%, 43%);
}

.card-title {
    margin-bottom: .5em;
}

.card-text {
    padding: .3em 0;
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .products {
       max-width: 100%;
       outline: 1px solid red;
    }

    .card-container {
        outline: 1px solid red;
        grid-template-columns: auto-fit auto-fit;
        justify-content: end;
        row-gap: 2em;
        margin: 0 auto;
    }
    
    .card {
        outline: 1px solid red;
        width: 11rem;
    }
    
    .product-img {
        width: 10.9rem;
        height: 8rem;
    }
    
    .card-text {
        padding: .3em 0;
        font-size: .9rem;
    }
}