* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --gray: #555;
  --white: #fff;
  --primary-clr: #f7f7ff;
  --red: #eb123a;
  --blue: #23b5d3;
  --green: rgb(59, 223, 59);
  --tertiary-clr: hsl(190, 72%, 78%);
  --black: #070600;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: var(--tertiary-clr);
}

::-webkit-scrollbar{
  width: 10px;
  --primary-clr: hsl(240, 100%, 97%);
  background-color: var(--primary-clr);
}

::-webkit-scrollbar-thumb{
  background-color: var(--gray);
}
