* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --gray: #555;
    --white: #fff;
    --primary-clr: #F7F7FF;
    --red: #eb123a;
    --blue: #23B5D3;
    --green: rgb(59, 223, 59);
    --tertiary-clr: hsl(190, 72%, 78%);
}